/* Mobile View */
.App {
  font-size: 0.7rem;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.description {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: auto;
}

.button {
  background-color: var(--royal-purple);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.button:hover {
  transform: scale(1.05);
}
.profile {
  width: 230px;
  height: 230px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image fills the circle without distortion */
  border: 1px solid var(--light-purple);
  margin: 0 auto;
}

.linked:hover {
  scale: 1.1;
}

.git:hover {
  scale: 1.1;
}
.name {
  color: var(--royal-purple);
}

.skills {
  margin-bottom: 0px;
}

.animated {
  animation: showModal 1s forwards easeOut; 
}

/* Centering image on mobile screens */
@media only screen and (max-width: 450px) {
  .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about, .projects, .experience, .education, .skills {
    text-align: center;
  }


}

/* More than 600px */
@media only screen and (min-width: 450px) {
  .App {
    width: 650px;
    font-size: 0.9rem;
    padding: 1rem;
  }

  .description {
    grid-template-columns: 1fr 1fr;
  }

  .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
}
