
/* Mobile View */
.App {
  font-size: 0.7rem;
  width: 100vw;
  max-width: 100%;
  margin: 0 auto;
  border: 1px transparent;
}


.description {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: auto; 

}

.image {
  border: 1px solid; 
}

.name {
  color: var(--royal-purple);
}
/* More than 600px */
@media only screen and (min-width: 600px) {
  .App {
    width: 650px;
    font-size: 0.8rem;
  }

  .description{
    grid-template-columns: 1fr 1fr;
  }
}

