@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --royal-purple: #7F55B1;
  --light-purple: #9B7EBD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}



@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
  }
}



